.box {
    float: left;
    width: 33%;
    background-color: white;
    text-align: center;
    color: #fff;
}

.custom-mat-card-content
{
    padding: 1.5em 1.5em 1.5em 1em;
    text-align: center;
    font-size: 1.5em;

}