.item-3
{
    float:right;
    margin-top: 12px;
    margin-right:10px;
}
.item-2
{
    margin: auto;
   
}

.main
{
    margin:20px;
    margin-left:70px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}
.nordea-grow {
    letter-spacing: 3px;
    color: darkblue;
    margin-top: 10px;
    margin-left: 10px;
}

.nordea-button {
    background-color: darkblue;
    color: white; 
}